:root {
  --primary-brand-iris: #4d5ae5;
  --pressed-state-ocean: #404bbf;
  --dark-navy-blue: #2e2f42;
  --body-text-slate: #434455;
  --helper-text-light-slate: #8e8f99;
  --succes-green: #31d0aa;
  --accent-cornflower: #e7e9fc;
  --light-mode-cloud: #f4f4fd;
  --overlay-navy-blue-modal: #2e2f42;
  --hero-backgroung-grey: #d9d9d9;
  --text-color-white: #fff;
  --background-color-white: #fff;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  /*common*/
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--body-text-slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.site-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  color: var(--overlay-navy-blue-modal);
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo {
  color: var(--primary-brand-iris);
}
/*.header-logo {
  display: block;
  align-items: center;
}*/

.container {
  display: flex;
  max-width: 1128px;
  width: 100%;
  margin: 0 auto;
  padding: 156px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
 padding: 24px 0;
  max-width: 1128px;
    width: 100%;
    margin: 0 auto;
}
.header-left {
  display: flex;
  justify-content: space-between;
  gap: 76px;
}
.header-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-basis: auto;
  flex-shrink: 0;
}

.header-link {
  color: var(--dark-navy-blue);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-basis: calc(100% / 3)-40px;
}
.header-link:hover,
.header-link:focus {
  color: var(--pressed-state-ocean);
}
.header-list li {
  list-style-type: none;
}
.header-contact {
  color: var(--body-text-slate);
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-decoration: none;
}
.header-contact:hover,
.header-contact:focus {
  color: var(--pressed-state-ocean);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3 {
  margin-top: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*common end*/
/*index*/
.hero {
  background-color: var(--overlay-navy-blue-modal);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 1440px;
padding-bottom: 188px;
  margin-left: auto;
  margin-right: auto;
} 
.title-hero {
  max-width: 496px;
  margin: 0 auto 48px;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-color-white);
  font-size: 56px;
  line-height: 1.08;
  letter-spacing: 0.02em;
  text-align: center;
  padding-top: 188px;
}
.button-hero {
  color: var(--text-color-white);
  background-color: var(--primary-brand-iris);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  display: block;
  text-align: center;
  width: 169px;
  height: 56px;
  margin: 0 auto;
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--pressed-state-ocean);
}


.advantages-list h3 {
  color: var(--dark-navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.advantages-list li {
  list-style-type: none;
}
.services-list > li,
.team-list {
  list-style-type: none;
}
.team-name {
  padding-left: 52.5px;
}
.services h2,
.team h2 {
  color: var(--dark-navy-blue);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.team h3 {
  color: var(--dark-navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.team p {
  text-align: center;
}
.team {
  background: var(--light-mode-cloud);
}
.team li {
  background: var(--background-color-white);
}
/*index end*/

/*portfolio*/
.portfolio-button {
  color: var(--pressed-state-ocean);
  background: var(--light-mode-cloud);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--accent-cornflower);
  border-radius: 4px;
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--text-color-white);
  background-color: var(--pressed-state-ocean);
}
.portfolio-nav li {
  list-style-type: none;
}
.portfolio-tiles a {
  text-decoration: none;
  color: var(--dark-navy-blue);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-tiles li {
  list-style-type: none;
}
.portfolio-tiles h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-tiles p {
  color: var(--body-text-slate);
}

/*common*/
.footer {
  background-color: var(--dark-navy-blue);
}
.footer-text {
  color: var(--accent-cornflower);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-logo {
  color: var(--light-mode-cloud);
  line-height: 1.16;
}
